---
title: Innovatie van digitale producten en diensten. Intelligente data services. Digitale (transformatie)strategie.
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body style="text-align: center; max-width: 40em; margin: auto; background: url(/assets/img/linkedinbg.jpg) top center no-repeat">

        <div class="box">

            <div class="img"></div>

            <h1>Johan Groenen</h1>

            <h2 style="max-width: 340px; margin: auto">Innovatie van digitale producten en diensten. Intelligente data services. Digitale (transformatie)strategie.</h2>

            <!-- <p>Designer, strateeg, trompettist, organisator,<br>informaticus, ondernemer, zanger,<br>analist, leraar, coder.</p> -->

            <p>Kopje koffie drinken? Stuur een mailtje naar <a href="mailto:koffie@jgroenen.nl">koffie@jgroenen.nl</a> of gebruik <a href="https://api.whatsapp.com/send?phone=31641518018&text=Kopje%20koffie%20drinken%3F">WhatsApp</a>.</p>

            <p>Recente blog posts:<br><a href="https://medium.com/@jpagroenen">https://medium.com/@jpagroenen</a></p>

            <p style="margin-top: 4em">
                <a href="https://api.whatsapp.com/send?phone=31641518018"><img src="/assets/img/whatsapp.png" style="width: 32px; height: 32px"></a>

                <a href="https://www.linkedin.com/in/jgroenen/"><img src="/assets/img/linkedin.png" style="width: 32px; height: 32px"></a>

                <a href="https://twitter.com/jpagroenen"><img src="/assets/img/twitter.png" style="width: 32px; height: 32px"></a>

                <a href="https://github.com/jgroenen"><img src="/assets/img/github.svg" style="width: 32px; height: 32px"></a>

                <a href="https://stackoverflow.com/users/447114/jgroenen"><img src="/assets/img/stackoverflow.svg" style="width: 32px; height: 32px"></a>

                <a href="https://angel.co/jgroenen"><img src="/assets/img/angellist.jpg" style="width: 32px; height: 32px"></a>

                <a href="https://part-up.com/profile/4gRGpv5E44rq4QJkE"><img src="/assets/img/partup.png" style="width: 32px; height: 32px"></a>
            </p>

        </div>

        <h1 style="margin: 2em 0">Visitekaartjes</h1>

        {% for card in site.data.cards %}
        <a style="height: 220px; position: relative; text-decoration: none; border: 0" class="tile" href="{{ card.url }}">
          <div style="display: flex; padding: 10px">
            <img class="tile" src="{{ card.logo }}">
            <div style="width: 100%; text-align: right">
              <div style="font-size: 1.2em; line-height: 1.4em; margin-top: 0.8em">Johan Groenen</div>
              <div style="font-weight: 100; font-size: 1em; line-height: 1.4em; margin-top: 0.4em">{{ card.role }}</div>
            </div>
          </div>
          <div style="font-size: 0.9em; line-height: 1.2em; margin-top: 1em">{{ card.description }}</div>
          <div style="position: absolute; bottom: 0; width: 100%; color: white; background: #{{ card.color }}; font-weight: 100; font-size: 1em; line-height: 1em; padding: 0.5em 0; margin-top: 0.4em">{{ card.tagline }}</div>
        </a>
        {% endfor %}

        <!--

        <h1>Organisaties</h1>

        <a class="tile" href="http://codefor.eu"><img class="tile" src="https://pbs.twimg.com/profile_images/827108812599472129/bkxiKS19_400x400.jpg"></a>

        <a class="tile" href="http://www.datalabamsterdam.nl"><img class="tile" src="http://community.knowledgemile.org/blobs/gebiedsplatform/78210/2016/8/datalab_amsterdam_logo.png"></a>

      -->

        <!--

        <a class="tile" href="https://codeforall.org"><img class="tile" src="https://pbs.twimg.com/profile_images/613031903285874688/qMv6AWHZ.png"></a>

        -->

        <!--

        <h1>Startups</h1>

        <a class="tile" href="https://www.thenextad.com/nl/"><img class="tile" src="https://pbs.twimg.com/profile_images/794572498998349824/4jQ7Qijk.jpg"></a>

        <a class="tile" href="https://alwayshello.com"><img class="tile" src="http://is4.mzstatic.com/image/thumb/Purple127/v4/33/98/5f/33985f37-45ad-4b2f-9aa8-18ed39efb5a2/source/175x175bb.jpg"></a>

        <a class="tile" href="http://www.educode.nl"><img class="tile" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAA1PAAAAJDAzODY0ZDk1LTk5NGUtNDU3OC04OGZhLWI4OTAzNjBmM2Y4ZA.png"></a>

        <a class="tile" href="http://www.debatunie.nl/"><img class="tile" src="https://pbs.twimg.com/profile_images/750788776528601088/QD4fe5e8.jpg"></a>

        <a class="tile dark" href="http://www.herenboeren.nl/projecten/herenboeren-rotterdam/"><img class="tile" src="/img/herenboeren.png"></a>

      -->

        <!--

        <h1>Partners</h1>

        <a class="tile" href="http://waag.org/nl"><img class="tile" src="https://pbs.twimg.com/profile_images/1775087583/image1327310526.png"></a>

        <a class="tile" href="http://www.open-overheid.nl/"><img class="tile" src="https://pbs.twimg.com/profile_images/538271678191509504/aqgTYQDj.jpeg"></a>

        <a class="tile" href="http://www.gebruikercentraal.nl/"><img class="tile" src="https://viag.nl/assets/57dbbc6ad523802070002629/optimized/gebruiker%20Centraal.png"></a>

        <a class="tile" href="https://www.ictu.nl/"><img class="tile" src="https://www.ictu.nl/themes/custom/ictu_theme/assets/images/logo.svg"></a>

        -->

        <!--

        <h1>Check ook</h1>

        <a class="tile" href="https://openbadges.org/"><img class="tile" src="http://dougbelshaw.com/presentations/2013/mozfest/pictures/open-badges-icon.png"></a>

        <a class="tile" href="https://coderdojo.nl/"><img class="tile" src="http://www.coderdojo-westland.nl/info/wp-content/uploads/2015/07/coderdojonl.png"></a>

        <a class="tile" href="http://futurenl.org/codeuur/"><img class="tile" src="https://pbs.twimg.com/profile_images/862975172017606658/aNQF7cl0_400x400.jpg"></a>

        <a class="tile" href="http://www.permanentbeta.nl"><img class="tile" src="https://secure.meetupstatic.com/photos/event/e/5/3/a/highres_131458682.jpeg"></a>

        <p style="text-align: right; font-size: 0.8em; margin: 10px">&copy; 2017 <a href="http://www.everybit.nl">everybit</a></p>

      -->

    </body>
</html>
