/* for quick find-replace: the highlight color is #0099D4 */

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.6em;
    margin: 0.4em 0;
    font-weight: 900;
}

h2 {
    font-size: 1.4em;
    margin: 0.2em 0;
    font-weight: 400;
}
h3 {
    font-size: 0.9em;
    font-weight: 100;
}
section header h1 {
    font-size: 1em;
}
section header h2 {
    font-size: 1em;
}

p {
    max-width: 40em;
}
ul {
   list-style-type: none;
   padding: 0;
}
li {
    margin: 4px 0;
}
.tag {
    display: inline-block;
    margin: 4px;
    padding: 4px 6px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.skill h2 small {
    margin: 0.5em;
    padding: 0.25em;
    font-size: 0.5em;
    border-bottom: 1px solid #000;
    top: -8px;
    position: relative;
   
}

.clear {
    clear: both;
}
.container {
    max-width: 980px;
    margin: auto;
    clear: both;
}
.container > header {
    float: left;
    width: 28%;
    /*page-break-after: always;*/
}

.container > header .photo {
    display: block;
    margin: 0 auto;
}
.container > header .qr {
    display: block;
}
.container > header .icon {
    margin-right: 4px;
}
.container > header > p {
    margin: 6px 0;
}
.container > main {
    float: right;
    max-width: 640px;
    border-left: 1px solid #999;
    padding-left: 20px;
    margin-bottom: 40px;
}
.container > main > section {
    clear: left;
}
.container > main > section > h1 {
    font-size: 1.6em;
    border-bottom: 1px solid #999;
}
.container > main > section > article {
    clear: left;
    margin-top: 20px;
}
.container > main > section > article > header {
    float: left;
    margin-right: 20px;
    width: 200px;
}
.container > main > section > article > header > p {
    font-size: 0.8em;
    margin: 0.4em 0;
}
.container > main > section > article > main {
    float: left;
    max-width: 420px;
}
.container > main > section > article > main > p {
    margin: 0.4em 0;
}

footer {
    clear: both;
}
@media all and (max-width: 960px) {
    .container {
        max-width: 640px;
        margin: auto;
    }
    .container > header {
        float: none;
        width: auto;
    }
    .container > main {
        float: none;
        max-width: auto;
        border: 0;
        padding: 0;
    }
    .icon {
        margin-left: 0;
    }
    .contact p {
        margin: 0;
    }
}

@media all and (max-width: 400px) {
    .container {
        width: 300px;
        margin: auto;
    }
    .no-mobile {
        display: none !important;
    }
}

@media print {
    body {
        background-color: none;
        color: #000;

    }
    .no-print {
        display: none !important;
    }
    .photo {
        float: right;
        border-radius: 50%;
    }

    .contact {
        float: left;
        margin-bottom: 20px;
    }
    .qr {
        float: right;
    }
    .container > main > section > article > main > p {
        margin: 0.4em 0;
        font-size: 0.8em;
    }
}