<head>
  <!--
  https://www.slideshare.net/JohanGroenen/code-for-nl-presentation-mindtrek-tampere
  -->

  <meta name='viewport' content='width=320,initial-scale=1,user-scalable=0'>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="Johan Groenen 2020, CC BY 4.0, https://creativecommons.org/licenses/by/4.0/">

  <link rel='image_src' href='{{ page.image }}'/>
  <link rel='shortcut icon' type='image/png' href='{{ page.image }}'/>

  <title>Johan Groenen - {{ page.title }}</title>
  <meta name="title" content='{{ page.person_name }}'>
  <meta name="description" content='{{ page.title }} {{ page.subtitle }}'>

  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-834340-4']);
      _gaq.push(['_setDomainName', 'jgroenen.nl']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>

  <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link href="/assets/css/style.css" rel="stylesheet">
</head>
