<script>

    function getUrlParameterValue(key) {
        var urlParameterStrings = window.location.search.substr(1).split('&');
        var urlParameters = {};
        urlParameterStrings.forEach(function (urlParameter) {
            var parts = urlParameter.split('=');
            urlParameters[parts[0]] = parts[1];
        });
        return urlParameters[key];
    }

    var dataUrl = getUrlParameterValue('data');

    $.getJSON(dataUrl, function (data) {
        $("[data-id=name]").html(data.member.name);
        $("[data-id=image").css({"background-image": 'url(' + data.member.image + ')'});
        $("[data-id=motto").html(data.member.motto);
        $("[data-id=tags").html(data.member.tags.join(" · "));
        $("[data-id=status").html(data.member.status);
        $("body").css({"background-image": 'url(' + data.member.banner + ')'});

        $(".tiltshift_banner").hide();
        $(".card").hide();

        data.cards.forEach(function (card) {
            var $card = $(".card").first().clone().show();
            $("[data-id=url", $card)
                .attr("href", card.url);
            $("[data-id=logo", $card)
                .attr("src", card.logo);
            $("[data-id=name]", $card)
                .css({"color": "#" + card.color})
                .html(card.name);
            $("[data-id=role", $card)
                .html(card.role);
            $("[data-id=description", $card)
                .html(card.description);
            $("[data-id=tagline]", $card)
                .css({"background": "#" + card.color})
                .html(card.tagline);
            $(".cards").append($card);
        });
    });

</script>