body, html {
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
    color: #555;
}
a {
    color: #555;
}
.box {
    background: white;
    max-width: 400px;
    margin: auto;
    border: 8px solid white;
    box-shadow: 0px 2px 2px #aaa;
    margin-top: 200px;
    margin-bottom: 40px;
}
.img {
    margin: auto;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: center center no-repeat;
    background-size: cover;
    border: 8px solid white;
    box-shadow: 0px 2px 2px #aaa;
    background-color: #111;
}
h1, h2 {
  font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
  font-weight: 300;
}
h1 {
  color: #7985AD;
  font-weight: 300
}
h2 {
  color: #555;
  font-size: 1.2em;
  line-height: 1.5em;
}
p {
  line-height: 1.6em;
  font-weight: 100;
}
a.tile {
  display: block;
  border: 10px solid white;
  box-shadow: 0px 4px 8px #aaa;
  margin: 40px auto;
  max-width: 400px;
}
a.tile.dark {
  background: black;
}
.tile img {
  /* width: 120px; */
  height: 120px;
}
.cta-btn {
  display: inline-block;
  background: #DF4C44;
  color: #fff;
  text-decoration: none;
  font-size: 1.6em;
  padding: 10px 20px;
  margin: 40px 0 20px;
  border-bottom: 4px solid #eee;
}
.cta-btn:active {
  border-bottom: 0;
  border-top: 4px solid #fff;
}
@media only screen and (max-width: 400px) {
    .box {
        margin: 10px;
        margin-top: 100px;
    }
    a.tile {
      margin: 10px;
      margin-top: 20px;
    }
}
